body {
	margin: 0;
	padding: 0;
    color: #666;
    background: #F8EEE7; 
    background: white;
}



#cabecera {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(221, 195, 247);
    /*background-image: url("../img/black-felt.png");*/
	color: white;
    height: 80px;
    z-index: 4;
}

#cabecera>span{
    float: left;
    font-family: Absolute_pink;
    font-size: 4em;
    line-height: 0;
}

#cabecera>span>h1{
    margin-top: 45px;
}

#cabecera>span>h1>a{
    text-decoration: none;
    -webkit-text-stroke: 0.25px #633449;
    color: transparent; 
}

#cabecera>span>figure{
    position: relative;
    margin: 0 20px;
}

#logo{
    width: 80px;
}

#cabecera>nav{
    float: right;
    font-size: 1.50em;
    color: #94618E;
    font-family: Acratica;
}
#cabecera a{
    text-decoration: none;
    color: #94618E;
}

#cabecera>nav>ul{
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;
}

#cabecera>nav>ul>li{
    display: inline-block;
    line-height: 80px;
    padding: 0 10px;
}

#cabecera>nav>ul>li:hover{
    background: #A3034C;
    color: #F8EEE7;
}

#cabecera+nav{
    position: fixed;
    top: 80px;
    height: 50px;
    width: 100%;
    background: #94618E;
    color: aliceblue;
    border-top: white groove 3px;
    padding: 0 1%;
    z-index: 4;
    box-sizing: border-box;
}

#cabecera+nav>ul{
    margin: 0;
	padding: 0;
	list-style: none;
}


#cabecera+nav>ul>li{
    position:relative;
    float:left;
    margin:0;
    height: 50px;
    line-height: 50px;
    padding: 0px 5px;
}
#cabecera+nav>ul>li>ul{
    position: absolute;
    display:none;
    top:100%;
    left:0;
    padding-left: 5px;
    width: 180px;
}
#cabecera+nav>ul>li:hover>ul{
    display: block;
}

#cabecera+nav>ul>li:hover{
    color: #CE518A;
}
#cabecera+nav>ul>li>ul>li{
    padding: 0px 5px;
    margin: 0;
    display: inline-block;
    color: #f2f2f2;
    width: 50%;
    float: left;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
}

#cabecera+nav>ul>li>ul>li:hover{
    background: #A3034C;
}

#cabecera+nav:hover{
    height: 200px;
    background: #633449;
    color: #f2f2f2;
    opacity: 0.8;
}
